* {
    margin:0rcap;
    padding:0cqmax;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    background: rgb(216, 216, 253);
    color: black;
    padding: 10px, 20pc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 70px;
    font-weight: bold;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 6px;
}

.navbar li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
}

.navbar li a.active,
.navbar li a:hover {
    background: lightskyblue;
    color:blue;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 14px;
    color: lavender;
}

section {
    background-color: lavenderblush;
}

 section .section-content h1{
    color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }

 section .section-content h2{
    color: gray;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }

 section img{
    height: 600px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: lavender;
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-row  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-col h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 5px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: gray;
}

.footer-col ul li a:hover {
    color: darkblue;
}

.footer-col form {
    margin-top: 10px;
}

.footer-col input {
    padding: 5px;
    border: none;
}

.footer-col button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
    color: black;
    cursor: pointer;
}

.footer-col button:hover {
    background: gray;
}
#menu-toggle {
    display: none;
}

#menu-toggle:che {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block
    }

    .navbar .nav-links {
        display: none; 
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #002b5c;
        width: 250px;
        height: 100%;
        padding-top: 50px;
        z-index: 1000;
    }

    .navbar .nav-links a {
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    .navbar .nav-links a:hover {
        background-color: #ffa500;
    }

    .navbar .nav-links.active {
        display: flex;
    }
}