* {
    margin:0rcap;
    padding:0cqmax;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    background: rgb(216, 216, 253);
    color: black;
    padding: 10px, 20pc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 70px;
    font-weight: bold;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 6px;
}

.navbar li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
}

.navbar li a.active,
.navbar li a:hover {
    background: lightskyblue;
    color:blue;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 14px;
    color: lavender;
}

.section {
    background-color: lavenderblush;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

 section .section-content-justin h1{
    color: blue;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-justin h4{
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-justin h2{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 12%;
    margin-right: 12%;
}

 section .section-content-justin h3{
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-justin h5{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 11%;
    margin-right: 10%;
}

 #justin{
    height: 650px;
    width: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section .section-content-newyear h1{
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

 section .section-content-newyear h2{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-newyear h4{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

 #newyear{
    height: 600px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section .section-content-feastday h1{
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

 section .section-content-feastday h2{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-feastday h4{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 14%;
    margin-right: 10%;
}

 #feastday{
    height: 600px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section .section-content-presscon h1{
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

 section .section-content-presscon h2{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-presscon h4{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 15%;
    margin-right: 10%;
}

 #presscon{
    height: 400px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section .section-content-literature h1{
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

 section .section-content-literature h2{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-literature h3{
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-literature h4{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 15%;
    margin-right: 10%;
}

 #literature{
    height: 500px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
}

section .section-content-beforeliterature h2{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

 section .section-content-beforeliterature h4{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

 #beforeliterature{
    height: 500px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    background: lavender;
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-row  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-col h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 5px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: gray;
}

.footer-col ul li a:hover {
    color: darkblue;
}

.footer-col form {
    margin-top: 10px;
}

.footer-col input {
    padding: 5px;
    border: none;
}

.footer-col button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
    color: black;
    cursor: pointer;
}

.footer-col button:hover {
    background: gray;
}
#menu-toggle {
    display: none;
}

#menu-toggle:che {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block
    }


}
